.book{

    margin:30px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 15px;
    
}
.price{
    float: right;
    color:#883301;
}
.media{
    
        margin:30px auto;
        border-top: 1px solid #883301;
        padding: 15px;
    
}
/* .grade{
    float: right;
    color:green;
    font-size: 35px;
} */
.alink{
    color:#0056B3;
}